.header {
  width: auto;
  height: 5rem;
  background-color: transparent;
}

.header nav {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0.8em;
  align-items: center;
  justify-content: left;
}

.header Button {
  margin: 0 0.3rem;
}

.header span {
  color: white;
  text-decoration: none;
}
.header span:hover {
  cursor: pointer;
}
.header span:hover,
.header span.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}
