:root {
  --vh: 100%;
}
.app {
  position: relative;
}

main > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > section:nth-child(2n) {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > section:nth-child(3) {
  padding-top: 6rem;
}

section {
  height: calc(var(--vh, 1vh) * 100);
}
